<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">Inscription</div>
      <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>
      <button mat-button class="menu-button" routerLink="/connexion">
        <mat-icon>location_on</mat-icon>
        <span>connexion</span>
      </button>
    </div>
    <div class="right">
      <form class="form" *ngIf="!InscriptionReussi" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        <label for="nom">Le nom d'utilisateur <span style="color: red;">*</span></label>
        <input type="text" class="input" id="username" name="username" [(ngModel)]="form.username" required maxlength="20"
          #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
        <mat-divider class="py-1 tirete"></mat-divider>
        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Le nom est obligatoire!</div>
          <div *ngIf="username.errors['maxlength']">
            Le nom d'utilisateur ne doit pas depasser 20 caracters
          </div>
        </div>
        <label for="email">Email <span style="color: red;">*</span></label>
        <input type="email" class="input" id="email" name="email" [(ngModel)]="form.email" required #email="ngModel"
          [ngClass]="{'is-invalid':f.submitted && email.errors}">
        <mat-divider class="py-1 tirete"></mat-divider>
        <div *ngIf="email.errors && f.submitted" class="invalid-feedback" style="color: red;">
          L'adresse email est obligatoire!
        </div>
        <label for="password">Mot de passe <span style="color: red;">*</span></label>
        <input type="password" class="input" id="password" class="form-control" name="password"
          [(ngModel)]="form.password" required minlength="6" #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
        <mat-divider class="py-1 tirete"></mat-divider>
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div color="red" *ngIf="password.errors['required']" style="color: red;">Le mot de passe est obligatoir</div>
          <div *ngIf="password.errors['minlength']" style="color: red;">
            le mot de passe doit contenir au mois 6 caracters
          </div>
        </div>
        <!-- <label for="password">Confirmation du mot de passe</label>
        <input type="password" class="input" id="password2" class="form-control" name="password2"
          [(ngModel)]="form.password2" #password2="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password2.errors && password!=password2 }">
        <mat-divider class="py-1 tirete"></mat-divider>
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password!=password2" style="color: red;">
            le mot de passe doit contenir au mois 6 caracters
          </div>
        </div> -->
        <input type="submit" id="submit" value="Submit">
        <div class="form-group">
          <div *ngIf="f.submitted && Inscriptionechoue" class="alert alert-danger" role="alert">
            connextion echoué: {{ messageErreur }}
          </div>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="InscriptionReussi">
        Inscription effectué
      </div>
    </div>
  </div>
</div>
