<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">Login</div>
      <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>
      <button mat-button class="menu-button" routerLink="/inscription">
        <mat-icon>location_on</mat-icon>
        <span>Inscription</span>
      </button>
    </div>
    <div class="right">
      <form class="form" *ngIf="!connexionReussi" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        <label for="email">Nom d'utilisateur <span style="color: red;">*</span></label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }" />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
        Le nom d'utilisateur est obligatoire
        </div>
        <mat-divider class="py-1 tirete"></mat-divider>
        <label for="password">Password <span style="color: red;">*</span></label>
        <input type="password" id="password" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
        <mat-divider class="py-1 tirete"></mat-divider>
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div color="red" *ngIf="password.errors['required']" style="color: red;">Le mot de passe est obligatoir</div>
          <div *ngIf="password.errors['minlength']" style="color: red;">
            le mot de passe doit contenir au mois 6 caracters
          </div>
        </div>
        <input type="submit" id="submit" value="Submit">
        <div class="form-group">
          <div *ngIf="f.submitted && connexionEchoue" class="alert alert-danger" role="alert">
            connextion echoué: {{ messageErreur }}
          </div>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="connexionReussi">
        connecter avec le role {{ roles }}.
      </div>
    </div>
  </div>
</div>
