#torrent-scanner-popup
{
  z-index: 0 !important;
}
.mat-drawer-side{z-index:0;}
.modal-backdrop .fade .show{
  z-index: 0 !important;
}


p {
  font-weight: 200;
  font-size: 20px;
}
h1{
  color: #464A59;
}

