<div class="container">

</div>
<div class="row">
  <h1>Tous les pays</h1>
  <div class="col-md-6 ">
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-2 border-success">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary"> Total Pays 20</p>
              <h1 class="my-3 text-danger">Date 2022</h1>
              <!-- <p class="mb-0 font-13">-4.5% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
              <button mat-fab extended disabled class="bg-success" style="color: white;">
                <mat-icon>outlined_flag</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-2 border-warning">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Total Population 220 M</p>
              <h1 class="my-3 text-danger">Date 2022</h1>
              <!-- <p class="mb-0 font-13">+8.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
              <button mat-fab extended disabled class="bg-warning" style="color: white;">
                <mat-icon>person</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-2 border-danger">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Totale Région 550</p>
              <h1 class="my-3 text-danger">Date 2022</h1>
              <!-- <p class="mb-0 font-13">+5.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
              <button mat-fab extended disabled class="bg-danger" style="color: white;">
                <mat-icon>location_on</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-2 border-primary">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Superficie</p>
              <h1 class="my-3 text-danger">1241238 km²</h1>
              <!-- <p class="mb-0 font-13">+5.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
              <button mat-fab extended disabled class="bg-primary" style="color: white;">
                <mat-icon>blur_circular</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img src="../../assets/mode.jpg" style="width: 100%; height: 100%;" alt="">
  </div>

</div>
<div class="row py-5">
  <div class="col-md-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titre1">Mali</mat-card-title>
          <mat-card-subtitle class="titre1">Bamako</mat-card-subtitle>
          <img mat-card-sm-image src="../../assets/Flag_of_Mali.jpg" style="margin-left: 30%;">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <br><br>
        <div class="row">
          <span> Superficie 1241238 km²</span>
          <div class="col-md-8">
          <br>
              <span> Population 20 M</span><br>
              <span> 20 Régions</span>
           
          </div>
          <div class="col-md-3">
            <div class=" py-2"></div>
            <button mat-button class="menu-button bg-danger" routerLinkActive="active" routerLink="/accueil">
              <!-- <mat-icon>person</mat-icon> -->
              <span>Profile</span>
            </button>
          </div>

        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-3 py-2">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titre1">Guinée</mat-card-title>
          <mat-card-subtitle class="titre1">Coanakry</mat-card-subtitle>
          <img mat-card-sm-image src="../../assets/Flag_of_Guinea.jpg" style="margin-left: 30%;">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content> <br>

          <span> Superficie 420201 km²</span><br>
          <span> Population 21 M</span><br>
          <span> 10 Régions</span>


      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-3 py-2">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titre1">Algérie</mat-card-title>
          <mat-card-subtitle class="titre1">Abidjan</mat-card-subtitle>
          <img mat-card-sm-image src="../../assets/Flag_of_Algeria.jpg" style="margin-left:30%;">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content> <br>

          <span> Superficie 420201 km²</span><br>
          <span> Population 21 M</span><br>
          <span> 10 Régions</span>


      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-3 py-2">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titre1">Sénégal</mat-card-title>
          <mat-card-subtitle class="titre1">Dakar</mat-card-subtitle>
          <img mat-card-sm-image src="../../assets/snegal.jpg" style="margin-left: 30%;">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content><br>

          <span class=""> Superficie</span><br>
          <span> Population 21 M</span><br>
          <span> 10 Régions</span>


      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="example-button-row d-flex justify-content-end">
  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary " data-mdb-toggle="modal" data-mdb-target="#staticBackdrop1">

  </button> -->

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop4">
    Ajouter un pays <mat-icon>border_color</mat-icon>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-75">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">Write to us</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <form>
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="name4" class="form-control" />
              <label class="form-label" for="name4">Name</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email4" class="form-control" />
              <label class="form-label" for="email4">Email address</label>
            </div>

            <!-- textarea input -->
            <div class="form-outline mb-4">
              <textarea id="textarea4" rows="4" class="form-control"></textarea>
              <label class="form-label" for="textarea4">Your message</label>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
              <input class="form-check-input me-2" type="checkbox" value="" id="checkbox4" checked />
              <label class="form-check-label" for="checkbox4">
                Send me a copy of this message
              </label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <!-- Modal -->
</div>
