<div class="row">
  <h1>Tous les pays</h1>
  <div class="col-md-6 ">
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-2 border-success">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class=" w-100">
              <p class="mb-0 text-secondary"> Total Pays <b
                  style="margin-left:20% ; font-size: 30px; font-weight: 500">{{pays.length}}</b></p>
              <h1 class="my-3 text-danger">Date 2022</h1>
              <!-- <p class="mb-0 font-13">-4.5% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
              <button mat-fab extended disabled class="bg-success" style="color: white;">
                <mat-icon>outlined_flag</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-2 border-warning">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class=" w-100">
              <p class="mb-0 text-secondary">Total Population<b
                  style="margin-left:20% ; font-size: 30px; font-weight: 500">{{total}} M</b> </p>
              <h1 class="my-3 text-danger">Date 2022</h1>
              <!-- <p class="mb-0 font-13">+8.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
              <button mat-fab extended disabled class="bg-warning" style="color: white;">
                <mat-icon>person</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-2 border-danger">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class=" w-100">
              <p class="mb-0 text-secondary">Totale Région <b
                  style="margin-left:20% ; font-size: 30px; font-weight: 500">{{Region.length}}</b></p>
              <h1 class="my-3 text-danger">Date 2022</h1>
              <!-- <p class="mb-0 font-13">+5.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
              <button mat-fab extended disabled class="bg-danger" style="color: white;">
                <mat-icon>location_on</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-2 border-primary">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Superficie</p>
              <h1 class="my-3 text-danger">{{tsuperficie}} km²</h1>
              <!-- <p class="mb-0 font-13">+5.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
              <button mat-fab extended disabled class="bg-primary" style="color: white;">
                <mat-icon>blur_circular</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img src="../../assets/mode.jpg" style="width: 100%; height: 100%;" alt="">
  </div>

</div>
<div class="row py-5">
  <div class="col-md-3" *ngFor="let Pays of pays ">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titre1">{{Pays.nom}}</mat-card-title>
          <mat-card-subtitle class="titre1">{{Pays.capital}}</mat-card-subtitle>
          <img mat-card-sm-image src="../../assets/mesimages/{{Pays.drapeau}}" style="margin-left: 30%;">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <br><br>
        <div class="row">
          <span> Superficie {{Pays.sperficie}}</span>
          <div class="col-md-8">
            <br>
            <span> Population 20 M</span><br>
            <span> 20 Régions</span>

          </div>
          <div class="col-md-3">
            <div class=" py-2"></div>
            <button mat-button class="menu-button bg-danger" routerLinkActive="active"
              [routerLink]="['/sidebar/accueil',Pays.id]">
              <!-- <mat-icon>person</mat-icon> -->
              <span>Profile</span>
            </button>
          </div>

        </div>

      </mat-card-content>
    </mat-card>
    <!-- <h2 *ngIf="!Pays"> Aucun pays dans la base de donnée !</h2> -->
  </div>
  <!-- <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls> -->
</div>
<div class="example-button-row d-flex justify-content-end">
  <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop4">
    Ajouter un pays <mat-icon>border_color</mat-icon>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop4" tabindex="100" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content w-100">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">Formulaire d'ajout d'un pays</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <form class="row " [formGroup]="formmodule" (ngSubmit)="AjoutPays()" action="">
            <div class="form-outline mb-4 col-12 form-row form-floating">
              <input type="text" name="nom" formControlName="nom" id="name" placeholder="Nom"
                class="form form-control inputvalue">
              <label for="name">Nom</label>
            </div>
            <div class="form-outline mb-4 col-12 form-row form-floating">
              <input type="text" name="capital" formControlName="capital" id="capital" placeholder="capital"
                class="form form-control inputvalue">
              <label for="name">Capital</label>
            </div>
            <div class="form-outline mb-4 col-12 form-row form-floating">
              <input type="number" name="superficie" formControlName="superficie" id="superficie"
                placeholder="superficie" class="form form-control inputvalue">
              <label for="name">Superficie</label>
            </div>
            <div class="form-outline mb-4">
              <input type="file" id="drpeau4" formControlName="file" name="file" multiple (change)="fileChang($event)"
                class="form-control" />
              <label class="form-label" for="email4">Drapeau</label>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
</div>