<div class="container">
  <div class="row w-100 row-cols-1 row-cols-md-3 row-cols-xl-3 ro">
    <div class="col py-1">
      <div class="card radius-10 border-start border-0 border-3 border-success">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Total de voiture à louer</p>
              <h1 class="my-3 text-danger">30</h1>
              <!-- <p class="mb-0 font-13">-4.5% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
              <i class='bx bxs-car'></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-0 border-3 border-warning">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary"><a href="client.php">Client inscrit</a></p>
              <h1 class="my-3 text-danger"><a href="client.php" class="my-3 text-danger">50</a></h1>
              <!-- <p class="mb-0 font-13">+8.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
              <a href="client.php" class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i
                  class='fa fa-users'></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-0 border-3 border-danger">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Total voiture à vendre</p>
              <h1 class="my-3 text-danger">20</h1>
              <!-- <p class="mb-0 font-13">+5.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
              <i class='bx bxs-wallet'></i>
              <mat-icon>help</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner py-2 co">
      <div class="slide-item max img">
        <div class="section-padding">
          <div class="container-fluid">
            <div class="banner_content">
              <h1 class="title">Bienvenue sur Carrom le meilleur site de reservation de vehicule</h1>
              <a href="louer.php" class="thm-btn btn-rounded thm-bg-color-one"> vehicules à louer
                <i class="fal fa-long-arrow-right"></i>
              </a>
              <a href="vente/vente.php" class="thm-btn btn-rounded thm-bg-color-one">Vehicules à vendre
                <i class="fal fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
              <div class="w3-services-grids py-lg-4">
                <div class="fea-gd-vv row">
                    <div class="col-lg-3 col-md-6">
                        <div class="feature-gd icon-yellow">
                            <div class="icon">
                                <i class="fas fa-laptop"></i>
                            </div>
                            <div class="icon-info">
                                <a href="#url">Web design<br> et Développement </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="feature-gd icon-vilot">
                            <div class="icon">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="icon-info">
                                <a href="#url">Développement des<br>apps Mobiles</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-lg-0 mt-md-5 mt-4">
                        <div class="feature-gd icon-blue">
                            <div class="icon">
                                <i class="fab fa-android"></i>
                            </div>
                            <div class="icon-info">
                                <a href="#url">Développement des<br>apps Androïd</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-lg-0 mt-md-5 mt-4">
                        <div class="feature-gd icon-red">
                            <div class="icon">
                                <i class="fab fa-php"></i>
                            </div>
                            <div class="icon-info">
                                <a href="#url">Php Développement des<br>apps Web</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  <!-- <div class="container co py-2">
    <img src="../../assets/17384392-21889470.jpg" alt="Snow" style="width:100%;">
    <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <div class="centered">Centered</div>
  </div> -->
</div>
