<div class="container py-5">
  <div class="row w-100 row-cols-1 row-cols-md-3 row-cols-xl-3 ro py-5">
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-3 border-success">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Régions {{recent.length}}</p>
              <h1 class="my-3 text-danger">Date 2022</h1>
              <!-- <p class="mb-0 font-13">-4.5% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
              <button mat-fab extended disabled class="bg-danger" style="color: white;">
                <mat-icon>location_on</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-3 border-warning">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Population 20 M</p>
              <h1 class="my-3 text-danger">Date 2022</h1>
              <!-- <p class="mb-0 font-13">+8.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
              <button mat-fab extended disabled class="bg-warning" style="color: white;">
                <mat-icon>person</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-end border-0 border-3 border-danger">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Superficie</p>
              <h1 class="my-3 text-danger">{{pays1.sperficie}}</h1>
              <!-- <p class="mb-0 font-13">+5.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
              <button mat-fab extended disabled class="bg-primary" style="color: white;">
                <mat-icon>blur_circular</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner py-2 co">
    <mat-card class="example-card img" style="background-image: url('../../assets/MALI_Koulouba.jpg');">
      <mat-card-header>
        <mat-card-title class="texte">Bienvenue sur Mali Tourisme</mat-card-title>
        <mat-card-subtitle class="texte1 py-5" ></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="texte1" >Pays: {{pays1.nom}}</p>
        <p class="texte1">Bamako:{{pays1.capital}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <h1 class="d-flex justify-content-center" style="font-family: sans-serif;"><b>Région récentes</b></h1>
    <div class="col-sm-3 py-1" *ngFor="let regionRecent of recent">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="text-align: center;">{{regionRecent[2]}}</mat-card-title>
          <mat-card-subtitle>{{regionRecent[7]}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/mesimages/{{regionRecent[4]}}" style="height:150px;" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
           {{regionRecent[3]}}
          </p>
          <button align="end" mat-button class="menu-button" [routerLink]="['/sidebar/details',regionRecent[0]]">
            <mat-icon>local_hospital</mat-icon>
            <span>Voir plus</span>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="example-button-row d-flex justify-content-end">
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop4">
      Ajouter une région <mat-icon>border_color</mat-icon>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop4" tabindex="100" aria-labelledby="exampleModalLabel4" aria-hidden="true">
      <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-100 mod">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel4">Ajouter une région</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
             <!--<form class="row "  [formGroup]="formodule" (ngSubmit)="AjoutRegion()">
              Name input 
              <div class="form-outline col-md-6">
                <input type="text" name="nom"  formControlName="nom" id="name" placeholder="Nom"
                  class="form form-control inputvalue">
                <label for="name">Nom</label>
              </div>

               Email input 
              <div class="form-outline col-md-6 ">
                <input type="text" id="" name="code_region"   class="form-control" formControlName="code_region" placeholder="Code region" />
                <label class="form-label" for="code_region"> Code region</label>
              </div>
              <div class="form-outline  col-md-6 ">
                <input type="text" id="" name="activite"  formControlName="activite" class="form-control" placeholder="Activité" />
                <label class="form-label" for="activite">Activité</label>
              </div>
              <div class="form-outline  col-md-6 ">
                <input type="text" id="" name="superficie"  class="form-control" formControlName="superficie" placeholder="Superficie" />
                <label class="form-label" for="superficie">Superficie</label>
              </div>
              <div class="form-outline">
                <input type="file" id="" class="form-control" formControlName="img1" name="imag1" (change)="fileChang1($event)" />
                <label class="form-label" for="image1">Image1 du région</label>
              </div>
              <div class="form-outline">
                <input type="file" id="" class="form-control" formControlName="img2" name="img2" (change)="fileChang2($event)" />
                <label class="form-label" for="image2">Image2 du région</label>
              </div>
              <div class="form-outline">
                <input type="file" id="" class="form-control" formControlName="img3" name="img3" (change)="fileChang3($event)" />
                <label class="form-label" for="image3">Image3 du région</label>
              </div>

              textarea input 
              <div class="form-outline mb-3 col-12  form-row form-floating">
                <textarea id="textarea4" rows="2" name="description"  class="form-control" formControlName="description"></textarea>
                <label class="form-label" for="textarea4">Description</label>
              </div>


               Checkbox 

               Submit button 
              <button type="submit" class="btn btn-primary ">Ajouter la région</button>
            </form>-->


            <!--deuxieme methode-->

            <form class="row " >
              <!-- Name input -->
              <div class="form-outline col-md-6">
                <input type="text" name="nom"  [(ngModel)]="nom" id="name" placeholder="Nom"
                  class="form form-control inputvalue">
                <label for="name">Nom</label>
              </div>

              <!-- Email input -->
              <div class="form-outline col-md-6 ">
                <input type="text" id="" name="code_region"   class="form-control" [(ngModel)]="code_region" placeholder="Code region" />
                <label class="form-label" for="code_region"> Code region</label>
              </div>
              <div class="form-outline  col-md-6 ">
                <input type="text" id="" name="activite"  [(ngModel)]="activite" class="form-control" placeholder="Activité" />
                <label class="form-label" for="activite">Activité</label>
              </div>
              <div class="form-outline  col-md-6 ">
                <input type="text" id="" name="superficie"  class="form-control" [(ngModel)]="superficie" placeholder="Superficie" />
                <label class="form-label" for="superficie">Superficie</label>
              </div>
              <div class="form-outline">
                <input type="file" id="" class="form-control" (change)="fileChang1($event)" />
                <label class="form-label" for="image1">Image1 du région</label>
              </div>
              <div class="form-outline">
                <input type="file" id="" class="form-control" (change)="fileChang2($event)" />
                <label class="form-label" for="image2">Image2 du région</label>
              </div>
              <div class="form-outline">
                <input type="file" id="" class="form-control" (change)="fileChang3($event)" />
                <label class="form-label" for="image3">Image3 du région</label>
              </div>

              <!-- textarea input -->
              <div class="form-outline mb-3 col-12  form-row form-floating">
                <textarea id="textarea4" rows="2" name="description"  class="form-control"  [(ngModel)]="description"></textarea>
                <label class="form-label" for="textarea4">Description</label>
              </div>


              <!-- Checkbox -->

              <!-- Submit button -->
              <button type="submit" (click)="AjoutRegion()" class="btn btn-primary ">Ajouter la région</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </div>

</div>