<div class="container py-5">
  <div class="row w-100 row-cols-1 row-cols-md-3 row-cols-xl-3 ro py-5">
    <div class="col py-1">
      <div class="card radius-10 border-start border-0 border-3 border-success">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Régions 20</p>
              <h1 class="my-3 text-danger">Date 2022</h1>
              <!-- <p class="mb-0 font-13">-4.5% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
              <i class='bx bxs-car'></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-0 border-3 border-warning">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Population 20 M</p>
              <h1 class="my-3 text-danger">Date 2022</h1>
              <!-- <p class="mb-0 font-13">+8.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
              <i class="fa-solid fa-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col py-1">
      <div class="card radius-10 border-start border-0 border-3 border-danger">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Superficie</p>
              <h1 class="my-3 text-danger">1241238 km²</h1>
              <!-- <p class="mb-0 font-13">+5.4% from last week</p> -->
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
              <i class='bx bxs-wallet'></i>
              <mat-icon>help</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner py-2 co">
    <mat-card class="example-card img" style="background-image: url('../../assets/MALI_Koulouba.jpg');">
      <mat-card-header>
        <mat-card-title class="texte">Bienvenue sur Mali Tourisme</mat-card-title>
        <mat-card-subtitle class="texte1 py-5">La mosquée de Djéné</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="texte1">Une application qui presente les regions
          du Mali</p>
        <p class="texte1">L culture malienne</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <h1 class="d-flex justify-content-center" style="font-family: sans-serif;"><b>Région récentes</b></h1>
    <div class="col-sm-3 py-1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="text-align: center;">SK</mat-card-title>
          <mat-card-subtitle>Sikasso</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images.jpg" style="height:150px;" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3 py-1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="text-align: center;">SL</mat-card-title>
          <mat-card-subtitle>Sélingué</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/barrage-de-manantali.jpg" style="height:150px;" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds
          </p>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col-sm-3 py-1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="text-align: center;">SG</mat-card-title>
          <mat-card-subtitle>Segou</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/16.jpg" style="height:150px;" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-3 py-1">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="text-align: center;">KY</mat-card-title>
          <mat-card-subtitle>Kayes</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/kayes.jpg" style="height:150px;" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
